<section class="container mx-auto px-8 lg:px-20 py-12 lg:py-20">
    <div>
        <h2
            class="block antialiased text-4xl tracking-tight font-bold text-gray-900 text-blue-gray-900"
        >
            Servicios
        </h2>
    </div>
	<p
		class="block antialiased font-sans text-xl leading-relaxed text-inherit mt-2 max-w-lg !font-normal !text-gray-500"
	>
	</p>
	<div class="mt-10 grid grid-cols-1 gap-10 lg:grid-cols-3">
        @for(solution of solutions(); track solution.id) {
            <app-card-solution [data]="solution" />
        }
	</div>
</section>
