<footer class="bg-gray-200 dark:bg-gray-900">
	<div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
		<div class="md:flex md:justify-between">
			<div class="mb-6 md:mb-0">
				<a href="#" class="flex items-center">
					<img
						src="images/logo.png"
						class="h-14 me-3 rounded-full"
						alt="STH Logo"
					/>
					<span
						class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
						>HERNANDEZ</span
					>
				</a>
			</div>
			<div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
				<div>
					<h2
						class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
					>
						Contáctame
					</h2>
					<ul class="text-gray-500 dark:text-gray-400 font-medium">
						<li class="mb-4">
							<a
								href="https://wa.me/3111398077"
								class="hover:underline"
								>Tel: 311 139 80 77</a
							>
						</li>
						<li>
							<a
								href="mailto:tritrinykis@hotmail.com"
								class="hover:underline"
								>tritrinykis&#64;hotmail.com</a
							>
						</li>
					</ul>
				</div>
				<div>
					<h2
						class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
					>
						Sobre mí
					</h2>
					<ul class="text-gray-500 dark:text-gray-400 font-medium">
						<li class="mb-4">
							<a routerLink="/about" class="hover:underline"
								>Quien soy</a
							>
						</li>
						<li>
							<a routerLink="/contact" class="hover:underline"
								>Contacto</a
							>
						</li>
					</ul>
				</div>
				<div>
					<h2
						class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
					>
						Soluciones
					</h2>
					<ul class="text-gray-500 dark:text-gray-400 font-medium">
						<li class="mb-4">
							<a routerLink="/services" class="hover:underline"
								>Levantamientos Topográficos</a
							>
						</li>
						<li class="mb-4">
							<a routerLink="/services" class="hover:underline"
								>Delimitación, Subdivisión,
								<br />
								Lotificación de terrenos</a
							>
						</li>
						<li class="mb-4">
							<a routerLink="/services" class="hover:underline"
								>Nivelación y Replanteos</a
							>
						</li>
						<li class="mb-4">
							<a routerLink="/services" class="hover:underline"
								>Calculo de Volumenes</a
							>
						</li>
						<li class="mb-4">
							<a routerLink="/services" class="hover:underline"
								>Proyectos Geometricos</a
							>
						</li>
						<li>
							<a routerLink="/services" class="hover:underline"
								>Lineas de Control</a
							>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<hr
			class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
		/>
		<div class="sm:flex sm:items-center sm:justify-between">
			<span
				class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
				>© 2024
				<a href="https://flowbite.com/" class="hover:underline"
					>HERNANDEZ</a
				>. Todos los derechos reservados.
			</span>
		</div>
	</div>
</footer>
